#general
build
gen

#dobi build tool
.dobi

#ci
example/ci/ci/credentials.yaml
example/ci/ci/credentials.*.yaml
!example/ci/ci/credentials.example.yaml
example/ci/ci/config.local.yaml
example/ci/ci/email.yaml
example/ci/ci/email.*.yaml
!example/ci/ci/email.template.yaml
example/ci/ci/msteams.yaml
example/ci/ci/msteams.*.yaml
!example/ci/ci/msteams.template.yaml

#ide
.vscode
